<!-- Navigation -->
<app-navbar></app-navbar>
<div class="modal-header">
    <h3 class="modal-title">Administration Panel</h3>
</div>

<div  style="padding: 2%;">
  <tabset>
    <tab heading="Users">
        <div class="row">
            <p class="col-sm-12 ">
                <div class="col-sm-3 ">
                    <input type="text" class="form-control" ng-model="findUser" ng-keyup="search(findUser)">
                </div>
            </p>
            <p class="col-sm-12 ">
                <div class="col-sm-6 ">
                    <div ng-repeat="user in result" style="border-style: solid; border-radius: 7px; padding: 5px; margin: 7px;  width: 40%; cursor:pointer;">{{ user }} </div>
                </div>
                <div class="col-sm-5 ">
                    <div ng-repeat="user in result">{{ user }} </div>
                </div>
            </p>
        </div>
    </tab>
    <tab heading="Roles">Static content</tab>
    <tab heading="Physicians">Static content</tab>
    <tab heading="Messages">Static content</tab>
    <tab heading="General">Static content</tab>
  </tabset>
</div>