 .admin-title {
 	font-weight: bold;
    font-size: 1.2em;
 }
 .admin-description {
    font-size: 0.8em;
 }
 .search-field{
    background-image: url("/img/searchIcon.svg");
    background-repeat: no-repeat;
    padding-left: 2em;
}