<!-- Navigation -->
<app-navbar></app-navbar>
<div class="modal-header">
    <h3 class="modal-title">Administration Panel</h3>
</div>

<div  style="padding: 2%;">
  <tabset>
    <tab ng-repeat="tab in tabs" active="tab.active" heading="{{tab.title}}" deselect="loadUsers(tab.title)">
        <br>
        <user-config ng-if="tab.title=='Users'"></user-config>
        <role-config ng-if="tab.title=='Roles'"></role-config>
        <physician-config ng-if="tab.title=='Physicians'"></physician-config>
        <physician-group-config ng-if="tab.title=='Physician Groups'"></physician-group-config>
        <messages-config ng-if="tab.title=='Messages'"></messages-config>
        <general-config ng-if="tab.title=='General'"></general-config>
    </tab>
    <!-- <tab heading="Users" select="loadUsers()">
        <br>
        <user-config></user-config>
    </tab>

    <tab heading="Roles" select="loadRoles()">
        <br>
        <role-config></role-config>
    </tab>

    <tab heading="Physicians" select="loadPhysicians()">
        <br>
        <physician-config></physician-config>
    </tab>

    <tab heading="Physician Groups" select="loadPhysicianGroups()">
        <physician-group-config></physician-group-config>
    </tab>

    <tab heading="Messages">
        <messages-config></messages-config>
    </tab>

    <tab heading="General">
        <general-config></general-config>
    </tab> -->
  </tabset>
</div>