
<div class="row"><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Welcome Text Message (no delay): </span>
            <br><br>
            <span class="admin-description">Remember you can use tokens that will be replaced with the correct data. Allowed tokens are <kbd>%PAT-FIRSTNAME%</kbd>, <kbd>%PAT-LASTNAME%</kbd> and <kbd>%PHY-NAME%</kbd></span>
        </div>
        <div class="col-sm-5">
            <textarea rows=5 class="form-control" ng-model="config.welcomeMsgNoDelayText"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Welcome Text Message (Physician delayed): </span>
            <br><br>
            <span class="admin-description">Remember you can use tokens that will be replaced with the correct data. Allowed tokens are <kbd>%PAT-FIRSTNAME%</kbd>, <kbd>%PAT-LASTNAME%</kbd>, <kbd>%PHY-NAME%</kbd> and <kbd>%PHY-DELAY%</kbd></span>
        </div>
        <div class="col-sm-5">
            <textarea rows=5 class="form-control" ng-model="config.welcomeMsgDelayText"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">First Wait Text Message: </span>
            <br><br>
            <span class="admin-description">Remember you can use tokens that will be replaced with the correct data. Allowed tokens are <kbd>%PAT-FIRSTNAME%</kbd>, <kbd>%PAT-LASTNAME%</kbd>, <kbd>%PHY-NAME%</kbd>, <kbd>%PHY-DELAY%</kbd> and <kbd>%SYS-MSGINTERVAL%</kbd> </span>
        </div>
        <div class="col-sm-5">
            <textarea rows=5 class="form-control" ng-model="config.firstWaitMsgText"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Other Wait Text Messages: </span>
            <br><br>
            <span class="admin-description">Remember you can use tokens that will be replaced with the correct data. Allowed tokens are <kbd>%PAT-FIRSTNAME%</kbd>, <kbd>%PAT-LASTNAME%</kbd>, <kbd>%PHY-NAME%</kbd> and <kbd>%PHY-DELAY%</kbd></span>
        </div>
        <div class="col-sm-5">
            <textarea rows=5 class="form-control" ng-model="config.waitMsgText"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Text for long wait times: </span>
            <br><br>
            <span class="admin-description">This will be added to the wait text message when the threshold is crossed. Tokens are not allowed in this field.</span>
        </div>
        <div class="col-sm-5">
            <textarea rows=5 class="form-control" ng-model="config.longWaitMsgText"></textarea>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Threshold in minutes to be considered a long wait time: </span>
        </div>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="config.longWaitMsgMinutes">
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Interval between messages (minutes): </span>
        </div>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="config.msgInterval">
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="admin-title">Max number of wait text messages: </span>
        </div>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="config.maxNumMsgs">
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button class="btn btn-primary btn-lg circled" ng-click="saveChanges()">Save</button>
        </div>
    </div><br>


</div>
