<div class="row">
    <p class="col-sm-6 ">
        <find-list listado="resultPhyGroups" elemento="'PhysicianGroup'"></find-list>
    </p>
    <p class="col-sm-6 ">
        <div class="col-sm-5 " ng-if="selectedItem">
            <span>Group Name: </span>
            <input type="text" class="form-control" ng-model="selectedItem.name">
            
            <br>
            <button class="btn btn-primary circled" ng-click="savePhysChanges()" style="float: right;">Save</button>
            <button class="btn btn-default circled" ng-click="cancelChanges()" style="float: right;">Cancel</button>
        </div>
    </p>
</div>