<div>
	<div class="row">
		<div class="col-sm-1 patientData layout-button patientState">
			<button type="button" class="btn btn-primary circled" data-toggle="collapse" data-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayout" ng-click="save()">Save</button>
		</div>

		<div class="col-sm-1 patientData layout-button-large patientState">
			<button type="button" class="btn btn-primary circled" data-toggle="collapse" data-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayout" ng-click="restore()">Restore Defaults</button>
		</div>

		<div class="col-sm-1 patientData layout-button patientState">
			<button type="button" class="btn btn-default circled" data-toggle="collapse" data-target="#collapseLayout" aria-expanded="false" aria-controls="collapseLayout">Cancel</button>
		</div>
	</div>
	<hr>
	<layout-options items1="items1" items2="items2" layout="layout"></layout-options>
</div>