<div class="modal-header">
	<h3 class="modal-title">Please confirm your information</h3>
</div>
<div class="modal-body">

		<div class="btn-group-vertical">
			<button ng-repeat="value in patients" class="btn btn-primary" type="button" ng-model="$parent.selPat" btn-radio="value">{{value.firstName}} {{value.lastName}}</button>
	    </div>


</div>
<div class="modal-footer">
	<button class="btn btn-default circled" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary circled" ng-click="confirm()">Confirm</button>
</div>