<!-- <div class="modal-header">
	<h3 class="modal-title">Message Confirmation</h3>
</div> -->
<div class="modal-body" style="text-align: center;">
	<h3>Hold on for a couple of seconds while we send you a confirmation message.</h3>
	<br>
	<h4>Did you receive the text message?</h4>
</div>
<div class="modal-footer">
	<button class="btn btn-default circled" ng-click="retry()">Retry</button>
	<button class="btn btn-default circled" ng-click="denied()">No</button>
	<button class="btn btn-primary circled" ng-click="confirmed()">Yes</button>
</div>