<div>
	<div class="row">
		<div class="col-sm-12" style="text-align:center">
			<h1>Please fill patient data</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
			<form ng-submit="searchPatient()">
				<div class="form-group">
					<span class="loginText">First Name: </span>
					<input type="text" class="form-control" ng-model="patient.firstName">
				</div>
				<div class="form-group">
					<span class="loginText">Last Name: </span>
					<input type="text" class="form-control" ng-model="patient.lastName">
				</div>

				<div class="form-group">
					<span class="loginText">DOB: </span>
					<div class="input-group">
						<input type="text" class="form-control" datepicker-popup="MM/dd/yy" ng-model="patient.dateBirth" is-open="dobOpened" datepicker-options="dateOptions" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="openDOB($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
					</div>

				</div>

				

				<button type="submit" class="btn btn-success col-xs-12">Register</button>
			</form>
			<br>
			<button class="btn btn-success col-xs-12" ng-click="return()">Return</button>
		</div>
	</div>
</div>
