<div>

	<script type="text/ng-template" id="noPatientModal.html">
	    <div class="modal-body">
	        <p>We are sorry for this inconvenience, but it seems we are having difficulty locating your information. Please go back to review the information you entered is correct or speak to a front-desk associate so they can check you in manually. Thank you.</p>
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" ng-click="$close()">OK</button>
	    </div>
	</script>

	<div class="row">
		<div class="kiosk-title-2">
			<h1>So we can find your appointment, <br>please enter your name and date of birth (DOB)</h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-offset-1 col-md-offset-2 col-xs-10 col-sm-8">
			<form>
				<div class="col-sm-6">
					<div class="form-group">
						<span class="">First Name: </span>
						<input type="text" class="form-control" ng-model="patient.firstName">
					</div>
					<div class="form-group">
						<span class="">Last Name: </span>
						<input type="text" class="form-control" ng-model="patient.lastName">
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group col-xs-offset-3 col-xs-4">
						<span class="">DOB: </span>
						<div class="input-group">
							<!-- <input type="text" class="form-control" datepicker-popup="MM/dd/yy" ng-model="patient.dateBirth" is-open="dobOpened" datepicker-options="dateOptions" close-text="Close" placeholder="MM/DD/YYYY" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="openDOB($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span> -->


							<input type="text" class="form-control" ng-model="patient.dateBirthStr" placeholder="MM/DD/YYYY"/>
						    <div style="display:inline-block; min-height:290px;">
						        <datepicker ng-model="patient.dateBirth" datepicker-options="dateOptions" class="well well-sm"></datepicker>
						    </div>
						</div>
					</div>
				</div>
			</form>
			<br><br><br>
		</div>
	</div>
	<div class="row" style="vertical-align: middle">
		<div class="col-xs-offset-1 col-md-offset-2 col-xs-11 col-sm-10">
			<button class="btn btn-md btn-danger col-md-offset-1 col-lg-offset-0 col-xs-2 col-sm-2" ng-click="return()">< Return</button>
			<button class="btn btn-lg btn-success col-xs-offset-4 col-xs-4 col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-2" ng-click="searchPatient()">Continue ></button>
		</div>
	</div>
</div>
