
html { 
	height: 100%; 
}
body { 
	font-family: "ProximaNova";
	font-size: 14px;
	min-height: 100%; 
	padding-top: 95px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.retinaContainer img {
	width: 100%;
	height: 100%;
}

.circled {
	border-radius: 15px;
}

.clickable {
	cursor: pointer;
}

.modal-dialog {
	margin-top: 71px;
}


/* 
//////////////////////////////////////////////////////////////////////
/////////////////////////   ALERTS   /////////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

#alertContainer {
    left: 30%;
    position: fixed;
    text-align: center;
    top: 77px;
    width: 40%;
    z-index: 5000;
}
#alertContainer div {
    position: relative;
    height: 4em;
}

.title {
    font-family: "ProximaNova-Light";
    font-size: 1.8em;
}

/* 
//////////////////////////////////////////////////////////////////////
/////////////////////////   MODALS   /////////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.modal-header, .modal-footer {
    background-color: #f6f8f9;
}

.modal-header h3{
    font-family: "ProximaNova-Light";
    font-size: 1.8em;
}

.modal-body {
	padding: 2.2em;
}

/* 
//////////////////////////////////////////////////////////////////////
/////////////////////////   LOGIN   //////////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.panel-login {
	background-color: #3370A2;
	border: 0;
}

.body-login {
	background-color: #5193C5;
}

.logo-container {
	margin-top: 5%;
}

.emory-logo {
	/*background-color: #5193C5; */
	width: 100%; 
	margin-bottom: 1.5em;
}

.loginText {
	color: white;
}

.login-link {
	text-align: center; 
	margin-top: 13px; 
}
.login-link a {
	color: #A0D3FF;
}

/* 
//////////////////////////////////////////////////////////////////////
///////////////////////////   NAV   //////////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.imglogo {
	width: 169px;
	height: 50px;
	margin-top: -20px;
	margin-left: -25%;
}
.imglogo1 {
	width: 46px;
	height: 50px;
	margin-top: -20px;
	margin-left: -25%;
}

.helpText {
	font-size:1.3em; 
	/*margin: 5px; */
	margin: 0 0 0 -1%;
	width: 65%; 
}

/* 
//////////////////////////////////////////////////////////////////////
///////////////////////   PHYSICIANS   ///////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.physiciansSidebar {
	background-color: #F7F8F8; 
	vertical-align: top;
	position: fixed;
	z-index: 98;
}

.menuPhysicians {
	width: 5em;
	/*height: 55px;*/
}

.menuPhysicians img {
	margin-left: 1em;
	margin-top: 1em;
	width: 3em;
	height: 3em;
	cursor: pointer;
}

.physiciansList {
	background-color: #FFF;
	float: left;
	left: 5em;
	position: absolute;
	transition: all 0.7s;
	width: 37%;
	z-index: 99;

	-webkit-box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.24);
	box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.24);
}

.physiciansListHidden {
	left: -37%;
}

.avatar {
	color: #4d9de0;
	width: 70px;
}

.selectedPhysician {
	background-color: #E3EFFA;
}

.physicianSearch{
    background-image: url("../img/searchIcon.svg");
    background-repeat: no-repeat;
    padding-left: 2em;
}

.physicianSearchList {
	overflow-x: hidden;
	overflow-y: scroll;
}

.physicianSearchList .row {
	cursor: pointer;
}

.nav-tabs>li>a {
	font-size: 1.7em;
}

/* 
//////////////////////////////////////////////////////////////////////
///////////////////////////  DASHBOARD  //////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.patientTitles span.glyphicon {
	margin-left: 0.3em;
}

.ok-btn {
	background-color: #72C394; 
	color: white; 
	font-weight: bold; 
	margin-top: -1%;
}

.clock {
	padding-left: 2em;
	width: 34%;
}

.btnBarHeader {
	margin-top: 15px;
	padding-right: 0;
	width: 58%;
}
.expandBtnHeader {
	padding-bottom: 12px;
	text-align: center;
	width: 8%;
}
.expandBtnHeader img {
	padding-bottom: 12px;
}

.physiciansHeader {
	color: #539CD5;
	margin-left: 7%;
	margin-top: 0;
}

.physiciansHeader > span {
	padding-bottom: 0.3em;
}

.timer-not-started {
	border-color: #000;
	color: #808286;
}
.timer-on-time {
    border-color: #5CC092;
	color: #5CC092;
}
.timer-delay-15 {
    border-color: #9472B2;
	color: #9472B2;
}
.timer-delay-30 {
    border-color: #FAA31B;
	color: #FAA31B;
}
.timer-delay-45 {
    border-color: #E8454A;
	color: #E8454A;
}

.schedule-container {
	padding-left: 0;
	margin-left: 5.5em;
}

.patientTitles {
	margin-top: 1em; 
	margin-bottom: 1em;
}
.patientTitles div {
	font-weight: bold; 
	padding: 10px 2px;
	text-align: center;
}

.patientRow {
	color: #000;
	font-family: "ProximaNova-Light";
}

.patientRow div.patientData {
	height: 4.6em;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	vertical-align: middle;
}

.patientRow div.bordered {
	background-color: rgb(249,250,250);	
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
}

.patientRow div.borderedFull {
	background-color: white;	
	border: 1px solid rgb(221, 221, 221);
}

.oddRow div.bordered {
	background-color: white;	
}

.buttonRow {
	padding-top: .9em;
	/*transition: all 0.5s;*/
	width: 9%;
}
.buttonRowBig {
	width: 11%;
}
.buttonRow > button:disabled {
	color: #333;
  	background-color: #e6e6e6;
  	border-color: #adadad;
}

.apptTimeRow {
	padding-top: 1.6em;
	width: 10%;
}

.nameRow {
	font-weight: bold;
	padding-top: 1.6em;
	/*transition: all 0.5s;*/
	width: 13%;
}
.nameRowBig {
	width: 15%;
}

.typeRow {
	padding-top: 1.6em;
	width: 6%;
}

.physicianRow {
	padding-top: 1.6em;
	width: 13%;
}

.roomRow {
	padding-top: 1.6em;
	width: 5%;
}

.ageRow {
	padding-top: 1.6em;
	width: 5%;
}

.dobRow {
	padding-top: 1.6em;
	width: 7%;
}

.fcRow {
	padding-top: .9em;
	width: 5%;
}

.imagingRow1 {
	padding-top: .9em;
	width: 14%;
}

.imagingRow2 {
	padding-top: .9em;
	width: 6%;
}

.atRow {
	padding-top: .9em;
	/*transition: all 0.5s;*/
	width: 10%;
}
.atRowBig {
	width: 12%;
}

.statusRow {
	padding-top: 1.25em;
	/*transition: all 0.5s;*/
	width: 12%;
}
.statusRowBig {
	width: 14%;
}

.statusRow span { 
    font-family: "ProximaNova-Bold";
    font-size: 1.15em;
    padding: 0.3em;
    text-align: center;
}

.totalRow {
	padding-top: 1.2em;
	padding-left: 1em;
	padding-right: 1em;
	width: 6%;
} 

.totalRow div { 
    font-family: "ProximaNova-Bold";
    font-size: 1.2em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.expandBtnRow {
	padding-top: .9em;
	width: 5%;
}

.patientExpandible {
	font-family: "ProximaNova";
	color: #7F7F7F;
	margin-left: 9%;
	width: 91%;
}
.patientExpandibleShort {
	margin-left: 11%;
	width: 89%;
}

.dashboardSVG{
	display: inline-block;
    width:2.6em;
}

.fullSpaceRow {
	padding-right: 0;
}

.divMarginLine{
	margin-top: -12px;
	margin-bottom: -12px;
}
.divMarginLine hr{
	border-color: transparent;
}

.fcMinutes {
    border-style: solid;
    border-radius: 18px;
    border-width: 2px;
	color: #CD4449;
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

.imagingMinutes {
    border-style: solid;
    border-radius: 18px;
    border-width: 2px;
	color: #4ECB95;
	display: inline-block;
    font-weight: bold;
    padding: .5em .5em;
    text-align: center;
}
/* 
//////////////////////////////////////////////////////////////////////
///////////////////////////  EXPANDIBLE  /////////////////////////////
//////////////////////////////////////////////////////////////////////
*/
.expandibleTitles {
	font-weight: bold; 
	text-align: left;
}
.expandibleTitles span {
	margin-right: 1em;
}

.patInfoPanel span {
	margin-right: 1.6em;
}

.rowButtonsMargin {
	padding-left: 1em;
}

.defaultMsjTag {
	padding-left: 0.5em;
}

.attentionFont {
	color: black;
}

.priorApptRow {
	padding: 0.7em 0em; 
	margin-left: 1em;
	border-bottom: 1px solid rgb(221, 221, 221);
}

.priorTimeCol {
	font-size: 1.1em;
	padding-top: .5em;
}

.priorStatusCol {
    font-family: "ProximaNova-Bold";
    font-size: 1.2em;
	padding-top: .55em;
}

.priorTotalCol {
    font-family: "ProximaNova-Bold";
    font-size: 1.2em;
	padding-left: 1.6em;
	padding-right: 1.6em;
}

.panelPrior{
	padding-right: 30px;
}