
html { 
	height: 100%; 
}
body { 
	min-height: 100%; 
	padding-top: 60px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.retinaContainer img {
	width: 100%;
	height: 100%;
}

/* 
//////////////////////////////////////////////////////////////////////
/////////////////////////   LOGIN   //////////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.panel-login {
	background-color: #3370A2;
	border: 0;
}

.body-login {
	background-color: #5193C5;
}


/* 
//////////////////////////////////////////////////////////////////////
///////////////////////////   NAV   //////////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.imglogo {
	width: 169px;
	height: 50px;
	margin-top: -20px;
	margin-left: -25%;
}

.imglogo img {
	width: 100%;
	height: 100%;
}

/* 
//////////////////////////////////////////////////////////////////////
///////////////////////   PHYSICIANS   ///////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

.physiciansSidebar {
	background-color: #F7F8F8; 
	vertical-align: top;
}

.menuPhysicians {
	width: 55px;
	height: 55px;
}

.menuPhysicians img {
	margin: 1em;
	cursor: pointer;
}

.physiciansList {
	transition: all 0.7s;
	background-color: #FFF;
	float: left;
	position: absolute;
	left: -374px;
	z-index: 99;
}


/* 
//////////////////////////////////////////////////////////////////////
///////////////////////////  DASHBOARD  //////////////////////////////
//////////////////////////////////////////////////////////////////////
*/

span.timer-not-started {
	color: #CBC9CA;
}
span.timer-on-time {
	color: #5CC092;
}
span.timer-delay-15 {
	color: #9472B2;
}
span.timer-delay-30 {
	color: #FAA31B;
}
span.timer-delay-45 {
	color: #E8454A;
}

.clickable {
	cursor: pointer;
}