@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        width: 100%;
        box-shadow: 0px -1px 8px #888888;
    }
}

.intro-section {
    height: auto;
    padding-top: 10px;
    text-align: center;
    background: #FFF;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
}

.imageButton{
    cursor: pointer;
}

.roundMiniBox{
    border-style: solid;
    border-radius: 13px;
    padding: 5px;
    text-align: center;
    border-width: 2px;
    border-color: #0099F0;
    color: #0099F0;
}

.popTriangle{
    border: solid;
    border-color: #FFF transparent;
    border-width: 11px 12px 0px 12px;
    content: "";
    width: 20px;
    margin-left: 14px;
    margin-top: -1px;
}

.blueFilter{
    color:#719DF0;
    cursor:pointer;
}

.blackFilter{
    color:#000;
    cursor:pointer;
}

.table-striped>tbody>tr:nth-of-type(4n-1){
  background-color: white;
}

.attentionFont{
    color:#7F7F7F; 
}

.messageOn{
    color:#72C394; 
    font-weight: bold;
}