<div>
	
	<patient-mobile-card patient="patient" class="col-xs-12 visible-xs borderedFull">
        
    </patient-mobile-card>
    <div class="clearfix visible-xs-block"></div>




    <patient-row ng-repeat="column in layout.columns" column-name="column" patient="patient" patient-list="patientList"></patient-row>
    <div class="col-xs-4 col-sm-1 patientData bordered expandBtnRow">
        <div class="retinaContainer dashboardSVG">
            <img src="img/expandIcon.svg" class="imageButton" data-toggle="collapse" data-target="{{ '#miniform' + patient._id }}" onclick="onCollapseButton(this);" ng-click="loadPatientHistory(patient)"/>
        </div>
    </div>




    <div class="clearfix visible-xs-block"></div>
    
    <patient-card patient="patient"></patient-card>

</div>