<div>
	<div class="panel panel-default infoHeader">
        <div class="panel-default" role="tab" id="headingOne">
            <div class="row">
                <div class="visible-xs col-xs-3 menuPhysicians retinaContainer">
                    <img src="../img/Doctor_Selected.png" ng-click="reloadPatients()"/>
                </div>
                <div class="col-xs-8 col-sm-5 col-md-4 clock">
                    <h3>{{ currentTime | date: 'h:mm a MMMM d, yyyy'}}</h3>
                </div>
                <!-- <h3 class="hidden-xs col-sm-6 col-md-7 text-right btnBarHeader">
                    <button class="btn btn-default circled" ng-click="sendBulkMessages()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                    <button class="btn btn-default circled" ng-click="newPatient()">+ Add Patient</span></button>
                </h3> -->
                <div class="col-xs-1 col-sm-1 col-md-1 expandBtnHeader">
                    <div class="retinaContainer dashboardSVG">
                        <img src="img/collapseIcon.svg" class="imageButton"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"  aria-controls="collapseOne" style="  padding-top: 43%;" onclick="onCollapseButton(this);"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body" ng-if="isFrontdeskAdmin()">
                <div style="font-size: 1.5em">Physician Groups</div>
                <br>
                <h3 class="physiciansHeader row">
                    <span class="col-xs-12 col-sm-12 col-md-6 mobilePhysicians" ng-repeat="group in selectedPhysicianGroups()">

                        <physician-group-header group="group"></physician-group-header>

                    </span>
                    <br>
                    <br>
                    <br>
                </h3>
            </div>
            <div class="panel-body">
                <div style="font-size: 1.5em">Physicians</div>
                <br>
                <h3 class="physiciansHeader row">
                    <span class="col-xs-6 col-sm-6 col-md-4 mobilePhysicians" ng-repeat="physician in selectedPhysicians()">

                        <physician-header physician="physician"></physician-header>

                    </span>
                </h3>
            </div>
        </div>
    </div>
</div>