<!-- Navigation -->
<app-navbar></app-navbar>

<div class="nopadding">
    <div class="physiciansSidebar nopadding hidden-xs">
        <div class="menuPhysicians retinaContainer">
            <img src="../img/Doctor_Selected.png" ng-click="$root.tooglePhysiciansList()"/>
        </div>
        <div class="menuPhysicians retinaContainer">
            <img src="../img/sync-icon.png" ng-click="$root.fillSchedules()"/>
        </div>
    </div>

    <physicians-list></physicians-list>


</div>

<div class="col-sm-11 col-sm-offset-1 schedule-container">


    <info-header></info-header>



    <div class="panel col-sm-12 dashboardBody backgroundMobile">
        
        <!-- Header Start -->
        <div class="hidden-xs row patientTitles" style="">
            <user-layout id="collapseLayout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseLayout" user="user"></user-layout>
            <!-- <div class="col-sm-1 buttonRow"></div>
 -->
            
                <div ng-repeat="titleData in titles" class="col-sm-1 {{titleData.style}}" ng-click="filteringActive(titleData.title)" ng-class="{'blueFilter': colFilter=='{{titleData.title}}','blackFilter': colFilter!='{{titleData.title}}'}">{{titleData.title}}<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='{{titleData.title}}' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='{{titleData.title}}' && arrowDirection=='0'}" aria-hidden="true"/></div>
            
        </div>
        <!-- Header End -->
        <!-- Body Start -->
        <div ng-if="!highlightNewPatients" class="row patientRow {{'pat_' + patient._id}}" ng-repeat="patient in patientList | dischargePatientsFilter: $root.hideDischarged | deletedPatientsFilter: $root.hideDeleted" patient-list>
            <patient-block ng-class="{'oddRow': $odd}" patient="patient" patient-list="patientList" layout="layout"></patient-block>
        </div>
        <div ng-if="highlightNewPatients" class="row patientRow {{'pat_' + patient._id}}" ng-repeat="patient in patientList | dischargePatientsFilter: $root.hideDischarged | deletedPatientsFilter: $root.hideDeleted" patient-list>
            <patient-block ng-if="patient.apptType!='New'" ng-class="{'oddRow': $odd}" patient="patient" patient-list="patientList" layout="layout"></patient-block>
            <patient-block ng-if="patient.apptType=='New'" class="newPatientColor" patient="patient" patient-list="patientList" layout="layout"></patient-block>
        </div>
        <!-- Body End -->
    </div>
</div>
