<!-- Navigation -->
<app-navbar></app-navbar>

<div class="nopadding">
    <div class="physiciansSidebar nopadding hidden-xs">
        <div class="menuPhysicians retinaContainer">
            <img src="../img/Doctor_Selected.png" ng-click="$root.tooglePhysiciansList()"/>
        </div>
        <div class="menuPhysicians retinaContainer">
            <img src="../img/sync-icon.png" ng-click="reloadPatients()"/>
        </div>
    </div>

    <div class="col-sm-4 physiciansList" ng-class="{physiciansListHidden: hidePhysiciansList}">
        <physicians-list></physicians-list>
        <div class="row">
            <button  ng-click="fillSchedules()" class="btn btn-primary col-sm-10 col-sm-offset-1 circled buttonSchedules" style="font-family: 'ProximaNova'; ">View Schedules</button>
        </div>
    </div>

</div>

<div class="col-sm-11 col-sm-offset-1 schedule-container">


    <info-header></info-header>

    <div class="panel col-sm-12 dashboardBody backgroundMobile">
        
        <!-- Header Start -->
        <div class="hidden-xs row patientTitles" style="">
            <user-layout id="collapseLayout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseLayout" user="user"></user-layout>
            <!-- <div class="col-sm-1 buttonRow"></div>
 -->
            <!-- <row-title ng-repeat="titleData in titles" title-data="titleData" ng-click="filteringActive(titleData.title)"></row-title> -->
                <div ng-repeat="titleData in titles" class="col-sm-1 {{titleData.style}}" ng-click="filteringActive(titleData.name)" ng-class="{'blueFilter': colFilter=='{{titleData.name}}','blackFilter': colFilter!='{{titleData.name}}'}">{{titleData.title}}<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='{{titleData.name}}' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='{{titleData.name}}' && arrowDirection=='0'}" aria-hidden="true"/></div>
            
        </div>
        <!-- Header End -->
        <!-- Body Start -->
        <div ng-if="!highlightNewPatients" class="row patientRow {{'pat_' + patient._id}}" ng-repeat="patient in getPatientList() | dischargePatientsFilter: $root.hideDischarged | deletedPatientsFilter: $root.hideDeleted">
            <patient-block ng-class="{'oddRow': $odd}"></patient-block>
            <!-- <patient-block ng-class="{'oddRow': $odd}" patient="patient" patient-list="getPatientList()" layout="layout"></patient-block> -->
        </div>
        <div ng-if="highlightNewPatients" class="row patientRow {{'pat_' + patient._id}}" ng-repeat="patient in patientList | dischargePatientsFilter: $root.hideDischarged | deletedPatientsFilter: $root.hideDeleted">
            <patient-block ng-class="{'oddRow': $odd, newPatientColor: patient.apptType=='New'}" patient="patient" patient-list="getPatientList()" layout="layout"></patient-block>
            <!-- <patient-block ng-if="patient.apptType=='New'" class="newPatientColor" patient="patient" patient-list="patientList" layout="layout"></patient-block> -->
        </div>
        <!-- Body End -->
    </div>
</div>
