
<div class="nopadding" ng-controller="physiciansCtrl">
    <div class="physiciansSidebar nopadding">
        <div class="menuPhysicians retinaContainer">
            <img src="../img/physicianIcon.png" ng-click="tooglePhysiciansList()"/>
        </div>
    </div>

    <div class="col-sm-4 physiciansList">
        <h3>PHYSICIANS</h3>
        <form role="form" ng-submit="fillSchedules()">
            <div class="row form-group panel-body">
                <!-- <div class="col-sm-1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true" style="left: -50px"></span>
                </div>
                <div class="col-sm-11">
                    <input id="physicianSearch" class="form-control" type="search" placeholder="Search..."/>
                </div> -->
                <input id="physicianSearch" class="form-control" type="search" placeholder="Search..."/>
                <!-- <span class="glyphicon glyphicon-search" aria-hidden="true" style="top: -30px"></span> -->
            </div>
            <div id="physicianSearchList" class="list-group">
                <div class="row list-group-item" ng-class="{selectedPhysician: physician.selected}" ng-click="selectPhysician(physician)" ng-repeat="physician in physicianList">
                    <div class="col-sm-6 retinaContainer avatar">
                        <img src="../img/user.png" />
                    </div>
                    <div class="col-sm-6">
                            <h4><span>{{ physician.name }}</span><br>
                            <small>{{ physician.role }}</small></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary col-sm-10 col-sm-offset-1">View Schedules</button>
            </div>
        </form>
    </div>
</div>


<div class="col-sm-11 col-sm-offset-1" ng-controller="scheduleCtrl">
    <div class="row">
        <div class="col-sm-4">
            <h3>{{ currentTime | date: 'h:mm a MMMM d, yyyy'}}</h3>
        </div>
        <div class="col-sm-2 col-sm-offset-6">
            <button class="btn btn-default" ng-click="sendBulkMessages()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
            <button class="btn btn-default" ng-click="newPatient()">+ Add Patient</span></button>
        </div>
    </div>
    <h3 class="physiciansHeader">
        <span ng-repeat="physician in selectedPhysicians">{{ physician.name }} <span class="roundMiniBox" ng-class="{'timer-on-time': physician.time<=15, 'timer-delay-15': physician.time>15 && physician.time<=30, 'timer-delay-30': physician.time>30 && physician.time<=45, 'timer-delay-45': physician.time>45}">{{ getPhysicianTime(physician) }}</span> ;  </span>
    </h3>
    <br>
    <table class="table table-striped">
        <thead style="text-align:left; white-space: nowrap; font-weight: bold;">
            <tr>
                <th style="width:5%; border-bottom:transparent"></th>
                <th ng-click="sortPatientsByTime(); filteringList ('time');" ng-class="{'blueFilter' : filteringTime, 'blackFilter' : !filteringTime}">Appt Time<span ng-class="arrowTime" aria-hidden="true"></th>
                <th ng-click="sortPatientsByName(); filteringList ('name');" ng-class="{'blueFilter' : filteringName, 'blackFilter' : !filteringName}">Patient Name<span ng-class="arrowName" aria-hidden="true"></span></th>
                <th ng-click="sortPatientsByPhysician(); filteringList ('physician');" ng-class="{'blueFilter' : filteringPhys, 'blackFilter' : !filteringPhys}">Physician<span ng-class="arrowPhys" aria-hidden="true"></th>
                <th ng-click="sortPatientsByBirth(); filteringList ('dob');" ng-class="{'blueFilter' : filteringDob, 'blackFilter' : !filteringDob}">Age<span ng-class="arrowDOB" aria-hidden="true"></th>
                <th ng-click="sortPatientsByImaging(); filteringList ('imaging');" ng-class="{'blueFilter' : filteringImag, 'blackFilter' : !filteringImag}">Imaging<span ng-class="arrowImag" aria-hidden="true"></th>
                <th ng-click="sortPatientsByATEntry(); filteringList ('atEntry');" ng-class="{'blueFilter' : filteringAT, 'blackFilter' : !filteringAT}">AT Entry<span ng-class="filteringAT" aria-hidden="true"></th>
                <th ng-click="sortPatientsByStatus(); filteringList ('status');" ng-class="{'blueFilter' : filteringStat, 'blackFilter' : !filteringStat}">Status<span ng-class="arrowStat" aria-hidden="true"></th>
                <th ng-click="sortPatientsByTotal(); filteringList ('total');" ng-class="{'blueFilter' : filteringTot, 'blackFilter' : !filteringTot}">Total<span ng-class="arrowTot" aria-hidden="true"></th>
                <th ></th>
            </tr>
        </thead>
        <tbody style="text-align:left; white-space: nowrap; font-weight: bold; color:#BEBEBE;" >
            <tr ng-repeat-start="patient in patientList">
                <td style="padding: 2% 0% 2% 0.5%;background-color:white; border-top:transparent;">
                    <button type="button" ng-show="patient.currentState == 'EX'" class="btn btn-default" ng-click="discharge(patient)">Discharge</button>
                    <button type="button" class="btn btn-primary" ng-show="patient.currentState == 'WR'" ng-click="callBack(patient)">Call Back</button>
                    <button type="button" class="btn btn-default" ng-show="patient.currentState == 'NCI'" ng-click="register(patient)">Register</button>
                </td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.apptTime | date:'hh:mm a'}}</td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.fullName }}</td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.physician.name }}</td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.age }}</td>
                <td style="padding: 2% 0% 2% 0.5%;">
                    <img ng-src="{{ getImagingState(patient) }}" ng-click="toogleImagingState(patient)" ng-class="{clickable: isImagingClickable(patient)}"/>
                </td>   
                <td style="padding: 2% 0% 2% 0.5%;">
                    <img ng-src="/img/phyEntered.png" ng-show="patient.enterTimestamp.length > patient.exitTimestamp.length" ng-class="{clickable: patient.currentState == 'EX'}" ng-click="toogleATEntry(patient)"/>
                    <img ng-src="/img/phyExit.png" ng-hide="patient.enterTimestamp.length > patient.exitTimestamp.length" ng-class="{clickable: patient.currentState == 'EX'}" ng-click="toogleATEntry(patient)"/>
                    <span ng-show="patient.enterTimestamp.length > 0" ng-class="{'timer-on-time': patient.enterTimestamp.length > patient.exitTimestamp.length}">{{ getATtimer(patient) | date:'mm.ss' }}</span>
                </td>              
                <td style="padding: 2% 0% 2% 0.5%;"><span ng-class="getTimerColor('WR', patient)">WR {{ getWRTime(patient) }} min </span>-<span ng-class="getTimerColor('EX', patient)"> EX {{ getEXTime(patient) }} min</span></td>
                <td style="padding: 2% 0% 2% 0.5%;"><div class="roundMiniBox" ng-class="{'timer-not-started': patient.currentState == 'DC' || patient.currentState == 'NCI' || getTotalTime(patient) < 0}">{{ getTotalTime(patient) }}</div></td>
                <td style="padding: 2%;text-align:right;"><img src="img/expandIcon.png" class="imageButton"  data-toggle="collapse" data-target="{{ '#miniform' + patient._id }}" onclick="onCollapseButton(this);" ng-click="loadPatientHistory(patient)"/></td>
            </tr>
            <tr id="{{ 'miniform' + patient._id }}" class="accordian-body collapse " ng-repeat-end>
                <td style="padding: 2% 0% 2% 0.5%;background-color:white; "></td>
                <td colspan="8" >

                    <div>
                        <div class="well">
                            <div class="row">
                                <div class="col-sm-1" style="font-weight: bold; text-align:left;cursor:pointer" ng-click="showMessage=false" ng-class="{'attentionFont' : !showMessage} ">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; Info 
                                </div>
                                <div class="col-sm-1" style="font-weight: bold; text-align:left;cursor:pointer" ng-click="showMessage=true" ng-class="{'attentionFont' : showMessage}">
                                    <div style="display:inline-block;" >
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;Contact 
                                    </div>
                                </div>
                                <div class="col-sm-4" ></div>
                                <div class="col-sm-6" style="font-weight: bold; text-align:left; ">
                                    <div style="color:#7F7F7F">Prior Appointment Wait Times</div>
                                </div>
                            </div>
                            <br/>
                            <div class="row" style="text-align:left">
                                <div class="col-sm-6" style="padding-right: 30px;">
                                    <div  ng-show="showMessage">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea id="{{ 'miniformTextArea' + patient._id }}" class="form-control" rows="5" id="comment" placeholder="Send text message..." ng-model="patient.message" ></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div id="{{ 'miniformTriangle' + patient._id }}" style="margin-left: {{ patient.messageSelectorPos }}%;">
                                                    <div class="popTriangle" style="border-width: 12px 13px 0px 13px; border-color: #C9C9C9 transparent;"></div>
                                                    <div class="popTriangle" style="margin-top: -12px; margin-left: 15px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2" ng-click="msjToCustom(patient)" ng-class="{'messageOn' : patient.messageSelectorPos == '1'} " style="cursor: pointer;">Custom</div>
                                            <div class="col-sm-2" ng-click="msjToDefault(patient)" ng-class="{'messageOn' : patient.messageSelectorPos != '1'} " style="cursor: pointer;">Default</div>
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-2" style="font-weight: bold; color:#7F7F7F;">Cancel</div>
                                            <div class="col-sm-2 btn btn-default" style="background-color: #72C394; color: white; font-weight: bold; width: 14%; margin-top: -1%;" ng-click="sendMessage(patient)">Send</div>
                                        </div>
                                    </div>
                                    <div id="{{ 'miniformInfo' + patient._id }}" ng-show="!showMessage">
                                        MRN: {{ patient.medicalRecordNumber }}<br><br>
                                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                        {{ patient.cellphone }}<br><br>
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{ patient.email }}<br><br>
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                        {{ patient.adress }}<br>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="border-left: thick solid #C9C9C9; border-width: 1px;">
                                    <div class="row" ng-repeat="record in patient.history">
                                        <div class="col-sm-3">{{ record.apptTime | date: 'MM/dd/yy'}}</div>
                                        <div class="col-sm-4"><span ng-class="getTimerColor('WRH', record)">WR {{ getWRTime(record) }} min </span>-<span ng-class="getTimerColor('EXH', record)"> EX {{ getEXTime(record) }} min</span></div>
                                        <div class="col-sm-4"><div class="roundMiniBox" style="width: 50%;">{{ getTotalTime(record) }}</div></div>
                                    </div>
                                    <hr />
                                    <div style="text-align:right;color:#7F7F7F;font-weight: normal;">
                                        See all
                                    </div>
                                    <br/>
                                </div>
                            </diV>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>
