<div class="nopadding" ng-controller="physiciansCtrl">
    <div class="physiciansSidebar nopadding hidden-xs">
        <div class="menuPhysicians retinaContainer">
            <img src="../img/Doctor_Selected.png" ng-click="$root.tooglePhysiciansList()"/>
        </div>
    </div>

    <div class="col-sm-4 physiciansList" ng-class="{physiciansListHidden: $root.hidePhysiciansList}">
        <h3>PHYSICIANS</h3>
        <form role="form" ng-submit="fillSchedules()">
            <div class="row form-group panel-body">
                <input id="physicianSearch" ng-model="phySearch" class="form-control circled" type="search" placeholder="Find a Physician"/>
            </div>
            <div class="row checkbox text-right">
                <label class="col-sm-12"><input type="checkbox" ng-model="phySelectAll" ng-click="selectAll()">Select All</label>
            </div>
            <div id="physicianSearchList" class="list-group">
                <div class="row list-group-item" ng-class="{selectedPhysician: physician.selected}" ng-click="selectPhysician(physician)" ng-repeat="physician in physicianList | filter: phySearch">
                    <div class="col-sm-6 retinaContainer avatar">
                        <img src="../img/Doctor_Unselected.png" />
                    </div>
                    <div class="col-sm-6">
                            <h4><span>{{ physician.name }}</span><br>
                            <small>{{ physician.department }}</small></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary col-sm-10 col-sm-offset-1 circled">View Schedules</button>
            </div>
        </form>
    </div>
</div>

<div class="col-sm-11 col-sm-offset-1 schedule-container" ng-controller="scheduleCtrl">
    <div class="panel panel-default infoHeader">
        <div class="panel-default" role="tab" id="headingOne">
            <div class="row">
                <div class="visible-xs col-xs-3 menuPhysicians retinaContainer" ng-controller="physiciansCtrl">
                    <img src="../img/Doctor_Selected.png" ng-click="$root.tooglePhysiciansList()"/>
                </div>
                <div class="col-xs-8 col-sm-5 col-md-4 clock">
                    <h3>{{ currentTime | date: 'h:mm a MMMM d, yyyy'}}</h3>
                </div>
                <h3 class="hidden-xs col-sm-6 col-md-7 text-right btnBarHeader">
                    <button class="btn btn-default circled" ng-click="sendBulkMessages()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                    <button class="btn btn-default circled" ng-click="newPatient()">+ Add Patient</span></button>
                </h3>
                <div class="col-xs-1 col-sm-1 col-md-1 expandBtnHeader">
                    <div class="retinaContainer dashboardSVG">
                        <img src="img/collapseIcon.svg" class="imageButton"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"  aria-controls="collapseOne" style="  padding-top: 43%;" onclick="onCollapseButton(this);"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <h3 class="physiciansHeader">
                    <span class="col-sm-6 col-md-4" ng-repeat="physician in selectedPhysicians">
                        <span class="col-sm-8">{{ physician.name }}</span>
                        <span class="col-sm-2 roundMiniBox" ng-class="{'timer-on-time': physician.time<=15, 'timer-delay-15': physician.time>15 && physician.time<=30, 'timer-delay-30': physician.time>30 && physician.time<=45, 'timer-delay-45': physician.time>45}">{{ getPhysicianTime(physician) }}</span>
                        <span class="col-sm-2"> ;</span>  
                    </span>
                </h3>
            </div>
        </div>
    </div>


    <div class="panel col-sm-12 dashboardBody backgroundMobile">
        <!-- Header Start -->
        <div class="hidden-xs row patientTitles" style="">
            <div class="col-sm-1 buttonRow" ng-class="{buttonRowBig: hidePhysicians}"></div>
            <div class="col-sm-1 apptTimeRow" ng-click="filteringActive(1);" ng-class="{'blueFilter': colFilter=='1','blackFilter': colFilter!='1', buttonRowBig: hidePhysicians}">Appt Time<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='1' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='1' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 nameRow" ng-click="filteringActive(2);" ng-class="{'blueFilter': colFilter=='2','blackFilter': colFilter!='2', nameRowBig: hidePhysicians}">Name<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='2' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='2' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 typeRow" ng-click="filteringActive(2.1);" ng-class="{'blueFilter': colFilter=='2.1','blackFilter': colFilter!='2.1'}">Type<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='2.1' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='2.1' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 physicianRow" ng-click="filteringActive(3);" ng-class="{'blueFilter': colFilter=='3','blackFilter': colFilter!='3'}" ng-hide="hidePhysicians">Physician<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='3' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='3' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 roomRow" ng-click="filteringActive(3.1);" ng-class="{'blueFilter': colFilter=='3.1','blackFilter': colFilter!='3.1'}" ng-show="hidePhysicians">Room<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='3.1' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='3.1' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 ageRow" ng-click="filteringActive(4.2);" ng-class="{'blueFilter': colFilter=='4.2','blackFilter': colFilter!='4.2'}">Age<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='4.2' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='4.2' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-2 fcRow" ng-click="filteringActive(5.1);" ng-class="{'blueFilter': colFilter=='5.1','blackFilter': colFilter!='5.1'}">FC<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='5.1' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='5.1' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 imagingRow2" ng-click="filteringActive(5);" ng-class="{'blueFilter': colFilter=='5','blackFilter': colFilter!='5'}">Imaging<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='5' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='5' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 atRow" ng-click="filteringActive(4.1);" ng-class="{'blueFilter': colFilter=='4.1','blackFilter': colFilter!='4.1', atRowBig: hidePhysicians}">AT Entry<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='4.1' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='4.1' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-2 statusRow" ng-click="filteringActive(6);" ng-class="{'blueFilter': colFilter=='6','blackFilter': colFilter!='6', statusRowBig: hidePhysicians}">Status<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='6' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='6' && arrowDirection=='0'}" aria-hidden="true"/></div>

            <div class="col-sm-1 totalRow" ng-click="filteringActive(7);" ng-class="{'blueFilter': colFilter=='7','blackFilter': colFilter!='7'}">Total<span ng-class="{'glyphicon glyphicon-chevron-down': colFilter=='7' && arrowDirection=='1', 'glyphicon glyphicon-chevron-up': colFilter=='7' && arrowDirection=='0'}" aria-hidden="true"/></div>
        </div>
        <!-- Header End -->
        <!-- Body Start -->
        <div class="row patientRow {{'pat_' + patient._id}}" ng-class="{'oddRow': $odd}" ng-repeat="patient in patientList | dischargePatientsFilter: $root.hideDischarged | deletedPatientsFilter: $root.hideDeleted" patient-list>
            <div class="col-xs-12 visible-xs borderedFull">
                <div class="row">
                    <div class="col-xs-4 visible-xs patienInfo" style="padding-top: 3%;  ">
                        {{ patient.apptTime | date:'hh:mm a'}} 
                    </div>
                    <div class="col-xs-1 visible-xs patienInfo" style="padding-top: 3%;  text-align: center;">
                        |
                    </div>
                    <div class="col-xs-3 visible-xs patienInfo" style="padding-top: 3%;  text-align: center;">
                       {{ patient.apptType }} 
                    </div>
                    <div class="col-xs-1 visible-xs patienInfo" style="padding-top: 3%;  text-align: center;">
                        |
                    </div>
                    <div class="col-xs-2 visible-xs patienInfo" style="padding-top: 3%;  text-align: left;">
                        {{ patient.roomNumber }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 visible-xs patienInfo">
                       <b>{{ patient.fullName }}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 visible-xs patienInfo" ng-show="!hidePhysicians">
                        {{ patient.physician.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 visible-xs" style="margin-top: -5%;  margin-bottom: -5%;">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 visible-xs patienInfoFocus" style="  padding-top: 2%; font-size: 1.2em;">
                        <span ng-class="getTimerColor('WR', patient)">WR {{ getWRTime(patient) }} </span>
                    </div>
                    <div class="col-xs-3 visible-xs patienInfoFocus" style="  padding-top: 2%; font-size: 1.2em;">
                        <span ng-class="getTimerColor('EX', patient)"> EX {{ getEXTime(patient) }} </span>
                    </div>
                    <div class="col-xs-5 visible-xs " style="padding-bottom: 12px;">
                    <div class="roundMiniBox "  ng-class="{'timer-not-started': patient.currentState == 'DC' || patient.currentState == 'NCI' || getTotalTime(patient) < 0}"><div class="patienInfoFocus" style="color: #0099F0">{{ getTotalTime(patient) }}</div></div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-3 col-sm-1 patientData buttonRow patientState" ng-class="{buttonRowBig: hidePhysicians}" style="background-color:white; border-top:transparent;">
                <button type="button" ng-show="patient.currentState == 'DC'" class="btn btn-default circled btnDischarge" ng-click="restoreDischargedPatient(patient)">Restore</button>
                <button type="button" ng-show="patient.currentState == 'EX'" class="btn btn-default circled btnDischarge" ng-class="patient._id" ng-click="discharge(patient)">Discharge</button>
                <button type="button" class="btn circled btnCallBack" ng-class="{'btn-primary': patient.callbackEnabled, 'btn-default': !patient.callbackEnabled}" ng-show="patient.currentState == 'WR'" ng-click="callBack(patient)" ng-disabled="patient.fcStartedTimestamp && !patient.fcFinishedTimestamp">Call Back</button>
                <button type="button" class="btn btn-default circled" ng-show="patient.currentState == 'NCI'" ng-click="register(patient)">Register</button>
            </div>
            <div class="hidden-xs col-sm-1 patientData bordered apptTimeRow">{{ patient.apptTime | date:'hh:mm a'}}</div>
            <div class="hidden-xs col-sm-1 patientData bordered nameRow" ng-class="{nameRowBig: hidePhysicians}" style="font-weight: bold;">{{ patient.fullName }}</div>
            <div class="hidden-xs col-sm-1 patientData bordered typeRow">{{ patient.apptType }}</div>
            <div class="hidden-xs col-sm-1 patientData bordered roomRow" ng-show="hidePhysicians">{{ patient.roomNumber }}</div>
            <div class="hidden-xs col-sm-1 patientData bordered physicianRow" ng-hide="hidePhysicians">{{ patient.physician.name }}</div>
            <div class="hidden-xs col-sm-1 patientData bordered ageRow">{{ patient.age }}</div>
            <div class="col-xs-2 col-sm-2 patientData bordered fcRow">
                <div class="retinaContainer dashboardSVG">
                    <img ng-src="{{ getFCIcon(patient) }}" ng-click="toogleFCState(patient)" ng-class="{clickable: isFCClickable(patient)}" />
                </div>
            </div>
            <div class="col-xs-2 col-sm-1 patientData bordered imagingRow2">
                <div class="retinaContainer dashboardSVG">
                    <img ng-src="{{ getImagingState(patient) }}" ng-click="toogleImagingState(patient)" ng-class="{clickable: isImagingClickable(patient)}"/>
                </div>
            </div>   
            <div class="col-xs-2 col-sm-1 patientData bordered atRow" ng-class="{atRowBig: hidePhysicians}">
                <div class="retinaContainer dashboardSVG">
                    <img ng-src="{{ getATIcon(patient) }}" ng-class="{clickable: patient.currentState == 'EX'}" ng-click="toogleATEntry(patient)"/>
                </div>
                <span ng-show="patient.enterTimestamp.length > 0" ng-class="colorStateAT">{{ getATtimer(patient) | date:'mm.ss' }}</span>
            </div>              
            <div class="hidden-xs col-sm-2 patientData bordered statusRow" ng-class="{statusRowBig: hidePhysicians}">
                <span class="col-sm-6" ng-class="getTimerColor('WR', patient)">WR {{ getWRTime(patient) }}</span>
                <span class="col-sm-6" ng-class="getTimerColor('EX', patient)">EX {{ getEXTime(patient) }}</span>
            </div>
            <div class="hidden-xs col-sm-1 patientData bordered totalRow"><div class="roundMiniBox" ng-class="{'timer-not-started': patient.currentState == 'DC' || patient.currentState == 'NCI' || getTotalTime(patient) < 0}">{{ getTotalTime(patient) }}</div></div>
            <div class="col-xs-4 col-sm-1 patientData bordered expandBtnRow">
                <div class="retinaContainer dashboardSVG">
                    <img src="img/expandIcon.svg" class="imageButton" data-toggle="collapse" data-target="{{ '#miniform' + patient._id }}" onclick="onCollapseButton(this);" ng-click="loadPatientHistory(patient)"/>
                </div>
            </div>

            <div class="clearfix visible-xs-block"></div>
            
            <!-- Start Collapsible -->
            <div class="col-sm-offset-1 col-sm-11 accordian-body collapse patientExpandible" ng-class="{patientExpandibleShort: hidePhysicians}" id="{{ 'miniform' + patient._id }}" ng-init="showTab='info'">
                <div class="row expandibleTitles">
                    <div class="col-xs-2 col-sm-2 clickable" ng-click="showTab='info'" ng-class="{'attentionFont': showTab=='info'} ">
                        <span class="glyphicon glyphicon-info-sign hidden-xs" aria-hidden="true"></span>Info 
                    </div>
                    <div class="col-xs-3 col-sm-2 clickable" ng-click="showTab='msg'" ng-class="{'attentionFont': showTab=='msg'}">
                        <span class="glyphicon glyphicon-envelope hidden-xs" aria-hidden="true"></span>Contact 
                    </div>
                    <div class="col-xs-3 col-sm-2 clickable" ng-click="showTab='notes'" ng-class="{'attentionFont': showTab=='notes'}">
                        <span class="glyphicon glyphicon-pencil hidden-xs" aria-hidden="true"></span>Notes 
                    </div>
                    <div class="col-xs-4 visible-xs clickable" ng-click="showTab='prior'" ng-class="{'attentionFont': showTab=='prior'}">
                        Prior Times 
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <div>Prior Appointment Wait Times</div>
                    </div>
                </div>

                <br/>
                <div class="row rowFullWhite" style="text-align:left">
                    <div class="col-sm-6" style="padding-right: 30px;">
                        <div id="{{ 'miniformInfo' + patient._id }}" ng-show="showTab=='info'" class="patInfoPanel">
                            <br>
                            Room: {{ patient.roomNumber }}<br><br>
                            MRN: {{ patient.medicalRecordNumber }}<br><br>
                            <div class="visible-xs divMarginLine"><hr/></div>
                            <div class="visible-xs"> AGE: {{ patient.age }}<br><br></div>
                            <div class="visible-xs divMarginLine"><hr/></div>
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            {{ patient.cellphone }}<br><br>
                            <div class="visible-xs divMarginLine"><hr/></div>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            {{ patient.email }}<br><br>
                            <div class="visible-xs divMarginLine"><hr/></div>
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            {{ patient.adress }}<br><br>
                            <div class="col-sm-4 col-sm-offset-3 btn ok-btn clickable circled" ng-click="restoreDeletedPatient(patient)" ng-show="patient.isDeleted">Restore</div>
                            <div class="col-xs-4 col-xs-offset-1 btn ok-btn clickable circled" ng-click="editPatient(patient)" ng-hide="patient.isDeleted">Edit</div>
                            <div class="col-xs-4 col-xs-offset-2 btn btn-danger clickable circled" ng-click="deletePatient(patient)" ng-hide="patient.isDeleted">Delete</div>
                        </div>
                        <div ng-show="showTab=='msg'">
                            <div class="row">
                                <div class="col-sm-12 fullSpaceRow">
                                    <textarea id="{{ 'miniformTextArea' + patient._id }}" class="form-control rowTextArea" rows="5" id="comment" placeholder="Send text message..." ng-model="patient.message" ></textarea>
                                </div>
                            </div>
                            <div class="hidden-xs row">
                                <div class="col-sm-12 fullSpaceRow">
                                    <div id="{{ 'miniformTriangle' + patient._id }}" style="margin-left: {{ patient.messageSelectorPos }}%;">
                                        <div class="popTriangle" style="border-width: 12px 13px 0px 13px; border-color: #C9C9C9 transparent;"></div>
                                        <div class="popTriangle" style="margin-top: -12px; margin-left: 15px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row rowButtonsMargin">
                                <div class="hidden-xs col-sm-3 col-md-2 clickable" ng-click="msjToCustom(patient)" ng-class="{'messageOn' : patient.messageSelectorPos == '1'}">Custom</div>
                                <div class="hidden-xs col-sm-3 col-md-2 clickable defaultMsjTag" ng-click="msjToDefault(patient)" ng-class="{'messageOn' : patient.messageSelectorPos != '1'} ">Default</div>
                                <div class="col-xs-3 hidden-sm col-md-4"></div>
                                <div class="col-xs-4 col-sm-3 col-md-2 clickable" style="font-weight: bold; color:#7F7F7F;">Cancel</div>
                                <div class="col-xs-5 col-sm-3 col-md-2 btn ok-btn clickable" ng-disabled="patient.noPhone" ng-click="sendMessage(patient)">Send</div>
                            </div>
                        </div>
                        <div ng-show="showTab=='notes'">
                            <div class="row">
                                <div class="col-sm-12 fullSpaceRow">
                                    <textarea class="form-control rowTextArea" rows="5" id="comment" placeholder="Place any notes here" ng-model="patient.notes" ></textarea>
                                </div>
                            </div>
                            <div style="height: 1em"></div>
                            <div class="row">
                                <div class="col-xs-5 col-sm-3 col-md-2 col-xs-offset-7 col-sm-offset-9 col-md-offset-10 btn ok-btn clickable" ng-click="saveNotes(patient)">Save</div>
                            </div>
                        </div>
                        <div id="{{ 'miniformTimes' + patient._id }}" class="visible-xs" ng-show="showTab=='prior'">
                            <div class="row" ng-repeat="record in patient.history">
                                <div class="col-xs-2 priorTimeCol">{{ record.apptTime | date: 'MM/dd/yy'}}</div>
                                <div class="col-xs-7 priorStatusCol ">
                                    <span class="col-xs-6 col-sm-6" ng-class="getTimerColor('WRH', record)"> WR {{ getWRTime(patient) }}  </span>
                                    <span class="col-xs-6 col-sm-6" ng-class="getTimerColor('EXH', record)"> EX {{ getEXTime(record) }}  </span>
                                </div>
                                <div class="col-xs-3 priorTotalCol"><div class="roundMiniBox"><div class="patienInfoFocus" style="color: #0099F0">{{ getTotalTime(record) }}</div></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-6 col-lg-5" style="border-left: thick solid #C9C9C9; border-width: 1px;">
                        <div class="row priorApptRow" ng-repeat="record in patient.history">
                            <div class="col-sm-3 priorTimeCol">{{ record.apptTime | date: 'MM/dd/yy'}}</div>
                            <div class="col-sm-6 priorStatusCol">
                                <span class="col-sm-6" ng-class="getTimerColor('WRH', record)">WR {{ getWRTime(patient) }}</span>
                                <span class="col-sm-6" ng-class="getTimerColor('EXH', record)">EX {{ getEXTime(record) }}</span>
                            </div>
                            <div class="col-sm-3 priorTotalCol"><div class="roundMiniBox">{{ getTotalTime(record) }}</div></div>
                        </div>
                        <br />
                        <div style="text-align:right;color:#7F7F7F;font-weight: normal;">
                            See all
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <!-- End Collapsible -->       
        </div>
        <!-- Body End -->
    </div>
</div>
