
<div class=" col-sm-1 nopadding">
    <div class="physiciansSidebar col-sm-8 nopadding">
        <div class="menuPhysicians retinaContainer">
            <img src="../img/physicianIcon.png" ng-click="tooglePhysiciansList()"/>
        </div>
    </div>
</div>

<div class="col-sm-3 physiciansList">
    <form role="form" ng-submit="fillSchedules()">
        <div class="row form-group panel-body">
            <!-- <div class="col-sm-1">
                <span class="glyphicon glyphicon-search" aria-hidden="true" style="left: -50px"></span>
            </div>
            <div class="col-sm-11">
                <input id="physicianSearch" class="form-control" type="search" placeholder="Search..."/>
            </div> -->
            <input id="physicianSearch" class="form-control" type="search" placeholder="Search..."/>
            <!-- <span class="glyphicon glyphicon-search" aria-hidden="true" style="top: -30px"></span> -->
        </div>
        <div id="physicianSearchList" class="list-group">
            <div class="row list-group-item" ng-class="{selectedPhysician: physician.selected}" ng-click="selectPhysician(physician)" ng-repeat="physician in physicianList">
                <div class="col-sm-6 retinaContainer avatar">
                    <img src="../img/user.png" />
                </div>
                <div class="col-sm-6">
                        <h4><span>{{ physician.name }}</span><br>
                        <small>{{ physician.role }}</small></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">View Schedules</button>
        </div>
    </form>

</div>



<!--<div class="col-sm-3 physiciansList" >
    <div class="row form-group panel-body">
        <input id="physicianSearch" class="form-control" type="search" placeholder"Search..."/>
    </div>
    <div class="row" ng-repeat="physician in physicianList">
        <div class="panel-body panel-bodyrowsUp list-group" id="physList">
            <div class="col-sm-1"></div>
            <div class="col-sm-11 list-group-item">
                <h4>{{ physician.name }}<br>
                <small>{{ physician.role }}</small></h4>
            </div>
        </div>
    </div>
    <hr />
</div>-->

<div class="col-sm-11">
    holaww
</div>
