<!-- Sub Navigation -->
<!-- <div class="panel panel-default panel-subnavi">
  <div class="panel-body panel-bodysubnavi">
    <div class="row">
        <div class="col-md-2">Schedule</div>
        <div class="col-md-8"></div>
        <div class="col-md-2" style="text-align:right;">
            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>&nbsp;&nbsp;
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
    </div>
  </div>
</div> -->

<!-- Intro Section -->
<section id="dashboard" class="intro-section">

    <h3><p align="left">{{ currentTime | date: 'h:mm a MMMM d, yyyy'}}</p></h3>
    <br>
    <table class="table table-striped">
        <thead style="text-align:left; white-space: nowrap; font-weight: bold;">
            <tr>
                <th style="width:5%; border-bottom:transparent"></th>
                <th ng-click="sortPatientsByTime()" style="color:#719DF0">Appt Time</th>
                <th ng-click="sortPatientsByName()">Patient Name</th>
                <th ng-click="sortPatientsByPhysician()">Physician</th>
                <th ng-click="sortPatientsByBirth()">DOB</th>
                <th ng-click="sortPatientsByImaging()">Imaging</th>
                <th ng-click="sortPatientsByStatus()">Status</th>
                <th ng-click="sortPatientsByTotal()">Total</th>
                <th ></th>
            </tr>
        </thead>
        <tbody style="text-align:left; white-space: nowrap; font-weight: bold; color:#BEBEBE;" ng-repeat="patient in patientList">
            <tr>
                <td style="padding: 2% 0% 2% 0.5%;background-color:white; border-top:transparent;">
                    <button type="button" ng-show="patient.currentState == 'EX'" class="btn btn-default" ng-click="discharge(patient)">Discharge</button>
                    <button type="button" class="btn btn-primary" ng-show="patient.currentState == 'WR'" ng-click="callBack(patient)">Call Back</button>
                    <button type="button" class="btn btn-default" ng-show="patient.currentState == 'NCI'" ng-click="register(patient)">Register</button>
                </td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.apptTime | date:'hh:mm a'}}</td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.fullName }}</td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.physician.name }}</td>
                <td style="padding: 2% 0% 2% 0.5%;">{{ patient.dateBirth | date:'MM/dd/yyyy'}}</td>
                <td style="padding: 2% 0% 2% 0.5%;"><img ng-src="{{ getImagingState(patient) }}" ng-click="toogleImagingState(patient)" ng-class="{clickable: isImagingClickable(patient)}"/></td>
                <td style="padding: 2% 0% 2% 0.5%;"><span ng-class="getTimerColor('WR', patient)">WR {{ getWRTime(patient) }} min </span>-<span ng-class="getTimerColor('EX', patient)"> EX {{ getEXTime(patient) }} min</span></td>
                <td style="padding: 2% 0% 2% 0.5%;"><div class="roundMiniBox">{{ getTotalTime(patient) }}</div></td>
                <td style="padding: 2%;text-align:right;"><img src="img/expandIcon.png" class="imageButton"  data-toggle="collapse" data-target="{{ '#miniform' + patient._id }}" onclick="onCollapseButton(this);"/></td>
            </tr>
            <tr id="{{ 'miniform' + patient._id }}" class="accordian-body collapse ">
                <td style="padding: 2% 0% 2% 0.5%;background-color:white; "></td>
                <td colspan="8" >

                    <div>
                        <div class="well">
                            <div class="row">
                                <div class="col-md-1" style="font-weight: bold; text-align:left">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; Info 
                                </div>
                                <div class="col-md-5" style="font-weight: bold; text-align:left">
                                    <div style="color:#7F7F7F; display:inline-block;">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;Contact 
                                    </div>
                                </div>
                                <div class="col-md-6" style="font-weight: bold; text-align:left">
                                    <div style="color:#7F7F7F">Prior Appointment Wait Times</div>
                                </div>
                            </div>
                            <br/>
                            <div class="row" style="text-align:left">
                                <div class="col-md-6" style="padding-right: 30px;">
                                    <div class="row">
                                        <div class="col-md-12"><textarea class="form-control" rows="5" id="comment" placeholder="Send text message..."></textarea></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="popTriangle"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="color:#72C394; font-weight: bold;">Custom</div>
                                        <div class="col-md-2">Default</div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2" style="font-weight: bold; color:#7F7F7F;">Cancel</div>
                                        <div class="col-md-2 btn btn-default" style="background-color: #72C394; color: white; font-weight: bold; width: 14%; margin-top: -1%;">Send</div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left: thick solid #C9C9C9; border-width: 1px;">
                                    <div class="row">
                                        <div class="col-md-3">9/2/14</div>
                                        <div class="col-md-2">1WR 10min</div>
                                        <div class="col-md-3">EX 11min</div>
                                        <div class="col-md-4"><div class="roundMiniBox" style="width: 50%;">21 min</div></div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-3">9/2/14</div>
                                        <div class="col-md-2">1WR 10min</div>
                                        <div class="col-md-3">EX 11min</div>
                                        <div class="col-md-4"><div class="roundMiniBox" style="width: 50%;">21 min</div></div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-3">9/2/14</div>
                                        <div class="col-md-2">1WR 10min</div>
                                        <div class="col-md-3">EX 11min</div>
                                        <div class="col-md-4"><div class="roundMiniBox" style="width: 50%;">21 min</div></div>
                                    </div>
                                    <hr />
                                    <div style="text-align:right;color:#7F7F7F;font-weight: normal;">
                                        See all
                                    </div>
                                    <br/>
                                </div>
                            </diV>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</section>