<div class="modal-header">
	<h3 class="modal-title">Message <span ng-show="messageType">for {{ messageType }}</span></h3>
</div>
<div class="modal-body">
	<form class="form-group">
	<div class="row form-group" ng-hide="messageType == 'Bulk'">
		<div class="col-sm-3 col-sm-offset-1">Patient</div>
		<div class="col-sm-7"><input type="text" class="form-control" ng-model="patient.fullName" disabled></div>
	</div>
	<div class="row form-group" ng-hide="patient.noPhone">
		<div class="col-sm-3 col-sm-offset-1">Message</div>
		<div class="col-sm-7"><textarea type="text" class="form-control" ng-model="patientMessage"></textarea></div>
	</div>
	<div class="row form-group" ng-show="patient.noPhone">
		<div class="col-sm-3 col-sm-offset-1"></div>
		<div class="col-sm-7"><p>No Phone</p></div>
	</div>
	<div class="row form-group" ng-show="messageType == 'Call'">
		<div class="col-sm-3 col-sm-offset-1">Room</div>
		<div class="col-sm-7"><input type="text" class="form-control" ng-model="patient.roomNumber" maxlength="5"></div>
	</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default circled" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary circled" ng-click="sendMessage()">Send</button>
</div>