
.labsRow {
	padding-top: .9em;
	width: 14%;
}

.labsMinutes {
    border-style: solid;
    border-radius: 18px;
    border-width: 2px;
	color: #002366;
	display: inline-block;
    font-weight: bold;
    padding: .5em .5em;
    text-align: center;
}