<div >
	<div ng-if="card">
	    <span class="col-sm-6" ng-class="$root.getTimerColor('WRH', patient)">WR {{ $root.getWRTime(patient) }}</span>
        <span class="col-sm-6" ng-class="$root.getTimerColor('EXH', patient)">EX {{ $root.getEXTime(patient) }}</span>
    </div>
	<div ng-if="!card">
	    <span class="col-xs-6 col-sm-6" ng-class="$root.getTimerColor('WR', patient)">WR {{ $root.getWRTime(patient) }}</span>
	    <span class="col-xs-6 col-sm-6" ng-class="$root.getTimerColor('EX', patient)">EX {{ $root.getEXTime(patient) }}</span>
    </div>
</div>