<div class='wrapper'>
	<div class="row">
		<form class="col-sm-6" name="patientForm">
			<div class="row">
				<div class="col-sm-4"><input type="checkbox" ng-model="layout.coloredPriorTime"> Colored Prior Time</div>
				<div class="col-sm-4"><input type="checkbox" ng-model="layout.highlightNewPatients"> Highlight new patients</div>
			</div>
		</form>
		<div class="col-sm-4"></div>
		<div class="col-sm-1 patientData layout-button patientState" style="background-color:white; border-top:transparent;">
			<button type="button" class="btn btn-default circled btnDischarge" ng-click="save()">Save</button>
		</div>

		<div class="col-sm-1 patientData layout-button patientState" style="background-color:white; border-top:transparent;">
			<button type="button" class="btn btn-default circled btnDischarge" ng-click="cancel()">Cancel</button>
		</div>
	</div>
	<hr>
	<div> Inactive Columns </div>
	<div class="hidden-xs row patientTitles grabbable" dragula='"bag-one"' id="inactiveElements" dragula-model="items1">
    	<div class="col-sm-1 column-title {{item.style}}" ng-repeat="item in items1">{{ item.title }}</div>
	</div>
	<div> Active Columns </div>
	<div class="hidden-xs row patientTitles grabbable" dragula='"bag-one"' id="activeElements" dragula-model="items2">
    	<div id="{{item.title}}" class="col-sm-1 column-title {{item.style}}" ng-repeat="item in items2">{{ item.title }}</div>
	</div>
	<hr>
</div>